* {
  background-color: rgb(197, 255, 193);
 }
 
 h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(167, 197, 232);
  padding: 5px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 20px;
  border-color: rgb(55, 123, 169);
  border-style: solid;
  border-width: 5px;
 }
 h2{
  text-align: center;
  color: rgb(17, 85, 37);
  font-size: 35px;
 }
 
 p{
  text-align: center;
  background-color: rgb(221, 182, 255);
  border-color: rgb(173, 85, 255);
  color: rgb(255, 255, 255);
  size: 5cap;
  margin-left: 100px;
  margin-right: 100px;
  border-width: 5px;
  border-style:ridge;
  border-radius: 10px;
 }
 
 .slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
 }
 
 .mySlides {
  display: none;
  margin: auto;
  width: 100%;
  padding: 5px;
 }
 
 .mySlides img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style: solid;
    border-color: #6e9b9d;
    border-width: 10px;
 }
 
 
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: #fff4ec;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
 }
 
 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
 }
 
 .prev:hover, .next:hover {
  background-color: #6e9b9d;
 }
 #socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

#socials img {
  width: 90px;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
